<div class="help">
  <h2>Chúng tôi có thể giúp gì cho bạn?</h2>
  <div class="help-input">
    <h3>Tìm kiếm các chủ đề</h3>
    <div class="help-input-conten">
      <form action="">
        <input type="text" placeholder="Tìm Kiếm" />
        <button type="submit">Gui</button>
      </form>
    </div>
  </div>
  <div class="help-tex">
    <h3>các Câu hỏi thường gặp</h3>
    <div class="help-tex-conten">
      <strong> Mẫu Dashboard là gì?</strong>
      <p>
        Mẫu Dashboard bao gồm tổng cộng 6 trang HTML để bạn tùy chỉnh. Nó được
        cung cấp miễn phí bởi trang web.
      </p>

      <strong>Mẫu HTML miễn phí là gì?</strong>
      <p>
        Mẫu HTML miễn phí là một trang web được làm sẵn dựa trên mã HTML và CSS.
      </p>

      <strong>Trình soạn thảo mã nào là tốt nhất?</strong>
      <p>
        Các trình soạn thảo mã phổ biến là Dreamweaver, Notepad++, Visual Studio
        Code, Rapid CSS, Sublime Text và Atom để chỉnh sửa mã HTML, CSS, JS và
        thêm nội dung web của bạn.
      </p>

      <strong>Tất cả các mẫu có được tải xuống miễn phí không?</strong>
      <p>
        Có, tất cả các mẫu CSS đều hoàn toàn miễn phí để tải xuống và sử dụng
        cho trang web của bạn. Bạn cũng có thể sử dụng chúng để học HTML, CSS và
        JavaScript.
      </p>
    </div>
  </div>
</div>
