
<nz-carousel class="banner"  nzAutoPlay="true">
    <div nz-carousel-content>
        <img src="/assets/img/slider1.jpg" alt="anh silder">
    </div>
    <div nz-carousel-content style="display: block !important;">
      <img src="/assets/img/slider2.jpg" alt="anh silder">
    </div>
    <div nz-carousel-content style="display: block !important;">
      <img src="/assets/img/slider3.jpg" alt="anh silder">
    </div>
    <div nz-carousel-content style="display: block !important;">
      <img src="/assets/img/slider4.jpg" alt="anh silder">
    </div>
  
</nz-carousel>

