<div class="introduce-wrapper">
    <div class="introduce-top introdu">
        <div class="intro-tex">
            <h3> Thoi trang nam</h3>
            <hr>
            <div class="tex">
                <p>Với những sản phẩm được thiết kế, Old Sailor luôn trau chuốt tỉ mỉ trong từ khâu từ lựa chọn chất liệu, cắt may và hoàn thiện sản phẩm. Điều đặc biệt, những sản phẩm tại Old Sailor dành cho mọi loại đối tượng khách hàng, kể cả những khách hàng "đầy đặn" khó tìm được quần áo đúng kích cỡ BIGSIZE của mình.</p>
                <p> Phong cách thời trang Old Sailor hướng tới những sản phẩm mang lại sự năng động, trẻ trung nhưng cũng không kém phần lịch lãm, cool ngầu. Luôn ưu tiên sự đơn giản, tinh tế và có tính ứng dụng cao.</p>
            </div>
            <div class="more">
                <a href="/product">Xem Sản Phẩm Mới</a>
            </div>
        </div>
        <div class="intro-img">
            <img src="https://oldsailor.com.vn/vnt_upload/about/71fc95e9d3c3789d21d223.jpg" alt="anh">
        </div>
    </div>
    <div class="introduce-bottom introdu">
        <div class="intro-img">
            <img src="https://oldsailor.com.vn/vnt_upload/about/ee6f529915b3beede7a233.jpg" alt="anh">
        </div> 
        <div class="intro-tex">
            <h3> trải nghiệm khách hàng là trên hết</h3>
            <hr >
            <div class="tex">
                <p>Old Sailor chính là giải pháp dành cho những khách hàng bận rộn, không có thời gian mua sắm nhưng vẫn muốn có trong tủ đồ mình những items mới nhất, hợp xu hướng thời trang nhất. Giờ đây, chỉ với những cú click chuột, Old Sailor sẽ mang đến cho bạn cả thế giới thời trang ngay tận nhà, với chi phí thấp nhất. </p>
                <p>Để tăng trải nghiệm khi mua hàng, Old Sailor đã thiết kế website với đầy đủ sản phẩm đang được bày bán với chi tiết số đo để bạn có thể tha hồ lựa chọn một cách thoải mái nhất. Và khi nhận hàng, nếu bạn đổi ý, Old Sailor chấp nhận đổi trả hàng trong vòng 14 ngày kể từ ngày xuất hoá đơn bán hàng với bất kì lý do gì.</p>
                <p>Chiều lòng những khách hàng thích được tận tay lựa chọn, Old Sailor đã có hơn 24 cửa hàng OLD SAILOR khắp cả nước để dù bạn ở đâu cũng có thể mua được sản phẩm. Trong tương lai, Old Sailor đang ôm ấp sẽ mở thêm thật nhiều chi nhánh để phục vụ khách hàng.</p>
                <p>HÃY ĐẾN VỚI CHÚNG TÔI, BẠN SẼ ĐƯỢC TRẢI NGHIỆM NHỮNG SẢN PHẨM THỜI TRANG MỚI NHẤT VỚI GIÁ THÀNH TIẾT KIỆM NHẤT !!!</p>
            </div>
            <hr class="dotted">
            <div class="diachi">
                <p>Địa chỉ văn phòng công ty OLD SAILOR: 494/1/13 Lê Quang Định, Phường 1, Quận Gò Vấp.</p>
                <p>Điện thoại: (028) 36 222 000</p>
                <p>Zalo: https://zalo.me/1244613402445882530</p>
                <p>Messenger: http://m.me/bigsizethebs</p>
            </div>
        </div>
    </div>
    <div class="introduce-img">
        <div class="intro-img-nd">
            <h3>khuyến mãi</h3>
            <p>Ưu đãii 10% tất cả các mặt hàng dành cho Thành Viên.</p>
        </div>
    </div>
</div>
 







