
  <div class="profile-conten">
    <div class="profile-main">
      <h2>Profile</h2>
      <div class="main-conten">
        <div class="general">
          <h3>General</h3>
          <div class="general-conten">
            <div class="img">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6kMER2Q75E41YU6agepjmnTVDzwsBM7tvjg&s" alt="anh" />
            </div>
            <div class="tex">
              <p>
                <strong>Tên:</strong>
                <span>Admin</span>
              </p>
              <p>
                <strong>Gmail:</strong>
                <span>admin&#64;admin.com</span>
              </p>
              <p>
                <strong>Phone:</strong>
                <span>1900100</span>
              </p>
              <p>
                <strong>Ngày Sinh:</strong>
                <span>00-00-0000</span>
              </p>
              <p>
                <strong>Chức Vụ:</strong>
                <span>Admin</span>
              </p>
            </div>
          </div>
        </div>
        <div class="card-information">
            <h2>Card-information</h2>
            <div class="card-information-conten">
                <p>
                    <strong>UserId:</strong>
                    <span>012 395 8647</span>
                </p>
                <p>
                    <strong>Type:</strong>
                    <span>Personal</span>
                </p>
                <p>
                    <strong>Created:</strong>
                    <span>July 19, 2020</span>
                </p>
                <p>
                    <strong>Valid Date:
                    </strong>
                    <span>July 18, 2032</span>
                </p>
            </div>
        </div>
      </div>
    </div>
    