<div class="header-admin">
    <div >
        <a href="/Admim/Home">dashboard</a>
    </div>
    <div class="input">
        <input type="search" placeholder="Tim Kiem">
    </div>
    <div class="header-admin-right">
        <i class="fa-solid fa-user"></i>
        <i (click)="onClick()"  class="fa-solid fa-bars .icon-moblile"></i>
    </div>
</div>
<div class="menu-admin-mobile" #onClickMenuAd>
    <div class="menu-ad-icon">
      <i (click)="onClickNone()" class="fa-solid fa-xmark"></i>
    </div>
    <div class="menu-ad-main">
      <ul>
        <a href="/Admim/Home">
          <li>Tổng Quan</li>
        </a>
        <a href="/Admim/Product">
          <li>Sản phẩm của tôi</li>
        </a>
        <a href="/Admim/File">
          <li>Hồ sơ</li>
        </a>
        <a href="/Admim/Setting">
          <li>cài đặt</li>
        </a>
        <a href="/Admim/Hepl">
          <li>hỗ trợ</li>
        </a>
      </ul>
    </div>
    <div class="logout">
      <i (click)="logout()" class="fa-solid fa-right-from-bracket"></i>
      <button (click)="logout()" >Thóat</button>
  </div>
  </div>
