.header{
    
    
    
    font-size: 140%;
    /* background-color: black;
    color: white; */
}
.header-top{
    padding: 20px 200px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
   
}

.search{
    width: 40%;
}
.search input{
    width: 100%;
    padding: 5px;
    font-size: 65%;
    border: 1px solid;
    border-radius: 40px;
}

.SingeIn-Out{
   
}
.SingeIn-Out button{
    padding: 5px;
    font-size: 90%;
    border-radius: 20px;
    border: none;
    background-color: rgb(90, 243, 90);
}
.SingeIn-Out button:nth-child(1){
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px
}

.header-bottom{
    width: 100%;
}
.header-bottom img{
    width: 100%;
}

.menu-main{
    width: 100%;
    padding: 20px 200px;
    background-color: black;
 }
 .menu-main ul{
     
     display: flex;
     justify-content: space-between;
    align-items: center;
    margin: 0;
 }
 .menu-main ul a{
     color: white;
     text-decoration: none;
     list-style: none;
 }