<header class="header">
    <div class="shop-display" #paragraphShop>
        <div class="shopmbg" (click) = "changeStyleShop2()">

        </div>
        <div class="shop-wrapper">
            <div class="shop-top">
                <i class="fa-solid fa-xmark"  (click) = "changeStyleShop2()"></i>
                <h2>Gio Hang</h2>
            </div>
            <div class="shop-product" *ngFor="let item of receivedDataArray; let i = index">
                <div class="shop-produ-img">
                    <img src="{{item.img}}" alt="">
                </div>
                <div class="shop-pro-tex">
                    <p>Ten: {{item.name}}</p>
                    <p>Gia: {{item.price}}</p>
                </div>
                <div class="shop-pro-input">
                    <p>So Luong</p>
                    <input class="shop-input" type="number" value="1" [(ngModel)]="item.quantity" (input)="updateQuantity(i)">
                </div>
                <div class="shop-remove">
                    <button (click)="removeItem(i)">xoa</button>
                </div>
            </div>
            
            <div class="shop-pro-price">
                <p>Tong</p>
                <p>{{Sum}}</p>
            </div>
        </div>
        
    </div>
    <div class="header-top">
        <div class="logo">
            <a href="#"><img src="" alt="anhlogo"></a>
        </div>
       <div class="search">
            <form #searchForm="ngForm" (ngSubmit)="searchXuLy(searchForm.value)">
                <input name="search" [(ngModel)]="search" type="search" placeholder="Tim Kiem">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
       </div>
        <div class="SingeIn-Out">
            
            <a href="/SingeIn"><button class="SingeIn">Dang Nhap</button></a>
            <div class="shop" (click) = "changeStyleShop()">
                <i class="fa-solid fa-shop"></i>
                <div class="shop-number">
                    {{ receivedDataArray.length }}
                </div>
            </div>
        </div>
        
        <div class="menu-moblie"  >
            <div class="icon"  >
                <i class="fa-solid fa-bars" (click) = "changeStyle()"></i>
            </div>
            <div class="div-mobile" #paragraph>
                <div class="menu-moblie-wrapper" >
                
                    <div class="menu-moblie-header">
                        <i class="fa-solid fa-xmark"  (click) = "changeStyle2()"></i>
                        <div class="SingeIn-Out-mobile">
                            
                            <button>Dang Nhap</button>
                        </div>
                    </div>
                    <div class="menu-mo">
                        <ul>
                            <a routerLink="/"><li>Trang Chu</li></a>
                            <a href="#"><li>Gioi Thieu</li></a>
                            <a routerLink="/product"><li>San Pham</li></a>
                            <a href="#"><li>Lien He</li></a>
                        </ul>
                    </div>
                
                
                </div>
                <div class="divmbg" (click) = "changeStyle2()">

                </div>
            </div>
        </div>
    </div>
    <div class="menu-main">
        <ul>
            <a routerLink="/"><li>Trang Chu</li></a>
            <a href="/introduce"><li>Gioi Thieu</li></a>
            <a routerLink="/product"><li>San Pham</li></a>
            <a href="/contact"><li>Lien He</li></a>
        </ul>
    </div>
</header>
