<header class="header">
    <div class="header-top">
        <div class="logo">
            <a href="#"><img src="" alt="anhlogo"></a>
        </div>
       <div class="search">
            <input type="search" placeholder="Tim Kiem">
       </div>
        <div class="SingeIn-Out">
            <button>Dang Ky</button>
            <button>Dang Nhap</button>
        </div>
    </div>
    <div class="menu-main">
        <ul>
            <a href="#"><li>Trang Chu</li></a>
            <a href="#"><li>Gioi Thieu</li></a>
            <a href="#"><li>San Pham</li></a>
            <a href="#"><li>Lien He</li></a>
        </ul>
    </div>
</header>
