<div class="update-admin-wrapper">
    
    <div class="update-conten-wrapper">
        <div class="form">
            <h2>{{ isEdit ? 'Sửa Sản Phẩm' : 'Thêm Sản Phẩm' }}</h2>
            <form [formGroup]="formProduct"
                  (submit)="submitFormProduct(formProduct.value)"
            >
                <div class="name">
                    <p>Tên:</p>
                    <input formControlName="title" type="text" name="title" placeholder="Nhập tên sản phẩm">
                </div>
                <div class="img">
                    <p>Ảnh:</p>
                    <input formControlName="image"  type="text" name="image"  placeholder="Nhap link hình ảnh">
                </div>
                <div class="price">
                    <p>Giá:</p>
                    <input formControlName="price"  type="number" name="price" placeholder="Nhập giá sản phẩm">
                </div>
                <div class="catelogy">
                    <p>Loai:</p>
                    <input formControlName="catelogy"  type="text" name="catelogy" placeholder="Nhap loại sản phẩm">
                </div>
                <div class="conten">
                    <p>Mô Tả:</p>
                    <input formControlName="conten"  type="text" name="conten" placeholder="Nhập mô tả sản phẩm">
                </div>
                <div class="buttom">
                    <button type="submit" >{{ isEdit ? 'Cập Nhật' : 'Thêm' }}</button>
                    
                </div>
            </form>
        </div>
        
    </div>

</div>

