<div class="update-admin-wrapper">
    
    <div class="update-conten-wrapper">
        <div class="form">
            <h2>{{ isEdit ? 'Sửa Sản Phẩm' : 'Thêm Sản Phẩm' }}</h2>
            <form #updateForm="ngForm" (ngSubmit)="submit(updateForm.value)">
                <div class="name">
                    <p>Tên:</p>
                    <input type="text" name="title" [(ngModel)]="title" placeholder="Nhập tên sản phẩm">
                </div>
                <div class="img">
                    <p>Ảnh:</p>
                    <input type="text" name="image" [(ngModel)]="image" placeholder="Nhap link hình ảnh">
                </div>
                <div class="price">
                    <p>Giá:</p>
                    <input type="number" name="price" [(ngModel)]="price" placeholder="Nhập giá sản phẩm">
                </div>
                <div class="catelogy">
                    <p>Loai:</p>
                    <input type="text" name="catelogy" [(ngModel)]="catelogy" placeholder="Nhap loại sản phẩm">
                </div>
                <div class="conten">
                    <p>Mô Tả:</p>
                    <input type="text" name="conten" [(ngModel)]="conten" placeholder="Nhập mô tả sản phẩm">
                </div>
                <div class="buttom">
                    <button type="submit" >{{ isEdit ? 'Cập Nhật' : 'Thêm' }}</button>
                </div>
            </form>
        </div>
        
    </div>

</div>

