<div class="menu-admin">
    <ul>
        <a href="/AdmimHome">
            <i class="fa-solid fa-house-chimney"></i>
            <li>Tong Quan</li></a>
        <a href="/ProductAdmin">
            <i class="fa-brands fa-product-hunt"></i>
            <li>San Pham Cua Toi</li></a>
        <a href="/File">
            <i class="fa-solid fa-user"></i>
            <li>Ho So</li></a>
        <a href="/Setting">
            <i class="fa-solid fa-gear"></i>
            <li>Cai Dat</li></a>
        <a href="/Hepl">
            <i class="fa-solid fa-circle-question"></i>
            <li>Trung Tam Tro Giup</li></a>
    </ul>
    <div class="logout">
        <i class="fa-solid fa-right-from-bracket"></i>
        <button (click)="logout()">Thoat</button>
    </div>
</div>
