.menu-admin{
    height: calc(100vh - 85px);
    padding: 30px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-admin ul{
    display: flex;
    flex-direction: column;
}
.menu-admin ul a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.menu-admin ul a li{
    list-style: none;
    margin-left: 10px;
}

.logout{
    padding: 30px;
    border-top: 1px solid rgb(0, 0, 0, 0.3);
    cursor: pointer;
}
.logout i{
    font-size: 18px;
}
.logout button{
    font-size: 18px;
    border: none;
    margin-left: 7px;
    background-color: white;
}

.menu-admin ul .active{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10px;
}



/* Responsive */
@media only screen and (max-width: 991px) {
    .menu-admin{
        display: none;
    }
}