<div class="menu-admin">
    <ul>
        <a [ngClass]="{'active': currenMenu === '/Admim/Home' }"  routerLink="/Admim/Home">
            <i class="fa-solid fa-house-chimney"></i>
            <li>Tổng Quan</li></a>
        <a [ngClass]="{'active': currenMenu === '/Admim/Product' }"  routerLink="/Admim/Product">
            <i class="fa-brands fa-product-hunt"></i>
            <li>Sản Phẩm Của Tôi</li></a>
        <a [ngClass]="{'active': currenMenu === '/Admim/File' }"  routerLink="/Admim/File">
            <i class="fa-solid fa-user"></i>
            <li>Hồ Sơ</li></a>
        <a [ngClass]="{'active': currenMenu === '/Admim/Setting' }"  routerLink="/Admim/Setting">
            <i class="fa-solid fa-gear"></i>
            <li>Cài Đặt</li></a>
        <a [ngClass]="{'active': currenMenu === '/Admim/Hepl' }"  routerLink="/Admim/Hepl">
            <i class="fa-solid fa-circle-question"></i>
            <li >Hỗ Trợ</li></a>
    </ul>
    <div class="logout">
        <i class="fa-solid fa-right-from-bracket"></i>
        <button  (click)="logout()">Thóat</button>
    </div>
</div>
