<div class="contact">
    <div class="contact-img">
        <img src="https://bizweb.dktcdn.net/100/361/971/themes/729792/assets/contact_banner.jpg?1705481796947" alt="anh">
    </div>
    <div class="contact-nd">
        <p>Chúng tôi mong muốn lắng nghe ý kiến của quý khách. Vui lòng gửi mọi yêu cầu, thắc mắc theo thông tin bên dưới, chúng tôi sẽ liên lạc với bạn sớm nhất có thế.</p>
        <form action="">
            <div class="form-name">
                <p>Ho va Ten:</p>
                <input type="text" placeholder="Nhap Ho va Ten">
            </div>
            <div class="form-phone">
                <p>So Dien Thoai:</p>
                <input type="number" placeholder="Nhap So Dien Thoai">
            </div>
            <div class="form-gmail">
                <p>So Dien Thoai:</p>
                <input type="email" placeholder="Nhap email cua ban">
            </div>
            <div class="form-nd">
                <p>Noi Dung:</p>
                <textarea name="" id="" placeholder="Noi dung lien he"></textarea>
            </div>
        </form>
        <div class="submit">
            <button type="submit">Gui</button>
        </div>
    </div>
</div>
