<div class="contact">
    <div class="contact-img">
        <img src="https://bizweb.dktcdn.net/100/361/971/themes/729792/assets/contact_banner.jpg?1705481796947" alt="anh">
    </div>
    <div class="contact-nd">
        <p>Chúng tôi mong muốn lắng nghe ý kiến của quý khách. Vui lòng gửi mọi yêu cầu, thắc mắc theo thông tin bên dưới, chúng tôi sẽ liên lạc với bạn sớm nhất có thế.</p>
        <form action="">
            <div class="form-name">
                <p>Họ và Tên:</p>
                <input type="text" placeholder="Nhập Họ va Tên">
            </div>
            <div class="form-phone">
                <p>Số Điện Thoại:</p>
                <input type="number" placeholder="Nhập Số Điện Thoại">
            </div>
            <div class="form-gmail">
                <p>Gmail:</p>
                <input type="email" placeholder="Nhập email của bạn">
            </div>
            <div class="form-nd">
                <p>Nội Dung:</p>
                <textarea name="" id="" placeholder="Nội dung góp ý"></textarea>
            </div>
        </form>
        <div class="submit">
            <button type="submit">Gửi</button>
        </div>
    </div>
</div>
