<div class="setting">
  <h2>Cài Đặt</h2>
  <div class="setting-conten">
    <div class="menu-setting">
      <ul>
        <li class="li-one" [ngClass]="{'active': currentForm === 'profile'}" (click)="showProfile()">Hồ sơ</li>
        <li class="li-one" [ngClass]="{'active': currentForm === 'password'}" (click)="showPassword()">Mật Khẩu</li>
        <li class="li-one">Thông báo</li>
      </ul>
    </div>
    <div class="setting-form">
      <div class="form-profile" *ngIf="currentForm === 'profile' ">
        <h3>Hồ Sơ Người Dùng</h3>
      <form action="">
        <div class="input-tex">
          <input type="text" placeholder="tên người dùng" />
          <input type="email" placeholder="email@gmail.com" />
          <input type="file" class="input-file">
        </div>
        <div class="input-buttom">
          <button class="button-one">cài Lại</button>
          <button class="button-two">Cập nhật</button>
        </div>
      </form>
      </div>
      <div class="form-passwaord" *ngIf="currentForm === 'password' ">
        <h3>mật khẩu</h3>
      <form action="">
        <div class="input-tex">
          <input type="password" placeholder="Nhập Mật Khẩu Cũ" />
          <input type="password" placeholder="Nhập Mật Khẩu Mới" />
          <input type="password" class="input-file" placeholder="Nhập Lại Mật Khảu">
        </div>
        <div class="input-buttom">
          <button class="button-one">Cài Lại</button>
          <button class="button-two">cập Nhật</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
