.product-hot{
    padding: 50px 200px;
    background-color: rgb(0,0,0, 0.1);
}
.product-hot h2{
    font-size: 250%;
    margin-bottom: 50px;
}
.container{
    padding: 0;
}
.row{
    width: 100%;
    margin: 0;
    /* display: grid;
    grid-template-columns:auto auto auto auto;
    grid-column-gap:20px; */
    
}
.col-md-3{
    
    /* width: 24%; */
    
    /* margin-bottom: 20px; */
    padding:0;
}
.col-item{
    border: 1px solid;
}
.product-img{
    width: 100%;
    padding: 5px;
    position: relative;
}
.product-Description{
    width: 96%;
    position: absolute;
    bottom: 0;
    /* padding-bottom: 5px;
    margin-right: 5px; */
    font-size: 130%;
    z-index: 99;
    background-color: red;
    transition: 0.3;
    color: white;
    /* display: none; */
}

.product-img img{
    width: 100%;
    z-index: 1;
}
.product-tex{
    padding:0 5px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 130%;  
}
.product-tex a{
    text-decoration: none;
    color: black;
}
.buy{
    width: 100%;
}
.buy .button-hover{
    width: 100%;
    border: none;
    font-size: 140%;
    background-color: red;
    color: white;
    transition: background-color 0.3s;
}
.buy .button-hover:hover{
    background-color: white;
    color: red;
}

::ng-deep .product-hot-item .row .owl-carousel.owl-loaded {
    padding: 0 !important;
    display: block;
}
::ng-deep .owl-carousel .owl-nav.disabled{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 40%;
}
::ng-deep.owl-theme .owl-nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 40%;
}




/* Responsive */
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 100%;
    }
}
@media only screen and (max-width: 991px) {

    .product-hot{
        padding: 50px ;
        
    }
    .container{
        margin: 0;
    }
    .product-tex{
        flex-direction: column;
    }
    
}

@media only screen and ((max-width: 776px)){
    .container, .container-sm {
        max-width: 100%;
    }
 }


@media only screen and (max-width: 576px) {
    .product-hot{
        padding: 30px 0 ;
        
    }
    .product-hot h2{
        font-size: 200%;
        margin-bottom: 20px;
    }
}