<div class="footer">
    <h2>Hỗ trợ chính sách mua hàng</h2>
    <div class="footer-top">
        <div class="footer-top-item">
            <h3>
                Hỗ trợ khách hàng
            </h3>
            <a href="#"><p class="tex-hover">Phương thức thanh toán</p></a>
            <a href="#"><p class="tex-hover">Hỗ trợ khách hàng</p></a>
        </div>
        <div class="footer-top-item">
            <h3>
                Chính sách mua hàng
            </h3>
            <a href="#"><p class="tex-hover">Chính sách đổi hàng</p></a>
            <a href="#"><p class="tex-hover">Chính sách trả hàng</p></a>
        </div>
        <div class="footer-top-item">
            <h3>
                Địa chỉ cửa hàng - liên hệ
            </h3>
            <ul>
                <a href="#"><li class="tex-hover">Thông tin liên hệ</li></a>
                <a href="#"><li class="tex-hover">Hệ thống cửa hàng</li></a>
                <a href="#"><li class="tex-hover">Giới thiệu</li></a>
                <a href="#"><li class="tex-hover">Tuyển dụng</li></a>
                <a href="#"><li class="tex-hover">Liên hệ</li></a>
            </ul>
        </div>
        <div class="footer-top-item">
            <h3>
                Cộng đồng
            </h3>
            <ul>
                <a href="#"><li class="tex-hover"><i class="fa-solid fa-house"></i>
                    Địa chỉ nhà riêng</li></a>
                <a href="#"><li class="tex-hover"><i class="fa-solid fa-phone"></i>0987654321</li></a>
                <a href="#"><li class="tex-hover"><i class="fa-solid fa-shop"></i>Shop quần áo Việt</li></a>
                <a href="#"><li class="tex-hover"><i class="fa-sharp fa-solid fa-envelope"></i>shopquanaogmail.com</li></a>
                <a href="#"><li class="tex-hover"><i class="fa-brands fa-tiktok"></i>TikTok</li></a>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright © 2020 The BS. All rights reserved.</p>
        <div class="footer-bottitem">
            <p>Chính sách quy định</p>
            <p>Chính sách bảo mật</p>
        </div>
    </div>
</div>
