<div class="footer">
    <h2>Ho tro chinh sach mua hang</h2>
    <div class="footer-top">
        <div class="footer-top-item">
            <h3>
                Ho tro khach hang
            </h3>
            <a href="#"><p class="tex-hover">Phuong thuc thanh toan</p></a>
            <a href="#"><p class="tex-hover">Ho tro khach hang</p></a>
        </div>
        <div class="footer-top-item">
            <h3>
                Chinh sach mua hang
            </h3>
            <a href="#"><p class="tex-hover">Chinh sach doi hang</p></a>
            <a href="#"><p class="tex-hover">Chinh sach tra hang</p></a>
        </div>
        <div class="footer-top-item">
            <h3>
                Dia chi cua hang - lien he
            </h3>
            <ul>
                <a href="#"><li class="tex-hover">Thong tin lien he</li></a>
                <a href="#"><li class="tex-hover">He thong cua hang</li></a>
                <a href="#"><li class="tex-hover">Gioi thieu</li></a>
                <a href="#"><li class="tex-hover">Tuyen dung</li></a>
                <a href="#"><li class="tex-hover">Lien ket</li></a>
            </ul>
        </div>
        <div class="footer-top-item">
            <h3>
                Cong dong
            </h3>
            <ul>
                <a href="#"><li class="tex-hover"><i class="fa-solid fa-house"></i>
                    Dia chi nha rieng</li></a>
                <a href="#"><li class="tex-hover"><i class="fa-solid fa-phone"></i>0987654321</li></a>
                <a href="#"><li class="tex-hover"><i class="fa-solid fa-shop"></i>Shop quan ao viet</li></a>
                <a href="#"><li class="tex-hover"><i class="fa-sharp fa-solid fa-envelope"></i>shopquanaogmail.com</li></a>
                <a href="#"><li class="tex-hover"><i class="fa-brands fa-tiktok"></i>TikTok</li></a>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright © 2020 The BS. All rights reserved.</p>
        <div class="footer-bottitem">
            <p>Chinh sach quy dinh</p>
            <p>Chinh sach bao mat</p>
        </div>
    </div>
</div>
