<div class="banner-introduce">
    <div class="banner-mbg">

    </div>
    <div class="banner-tex">
        <h2>
            Về cửa hàng
        </h2>
        <p>Cửa Hàng của chúng tôi là thương hiệu thời trang nam được bày bán tại các cửa hàng The BS trong cả nước. Của hàng chung tôi chính là cầu nối đưa các sản phẩm của cửa hàng đến tay khách hàng với chất lượng và giá thành tốt nhất. Tự tin là nơi mua sắm an toàn và uy tín, sứ mệnh của chúng tôi là mang đến sự hài lòng và trải nghiệm tốt nhất cho khách hàng.</p>
    </div>
</div>
