<div class="banner-introduce">
    <div class="banner-mbg">

    </div>
    <div class="banner-tex">
        <h2>
            Ve cua hang
        </h2>
        <p>Cua Hang chung toi là thương hiệu thời trang nam được bày bán tại các cửa hàng The BS trong cả nước. The BS chính là cầu nối đưa các sản phẩm Cua Hang đến tay khách hàng với chất lượng và giá thành tốt nhất. Tự tin là nơi mua sắm an toàn và uy tín, sứ mệnh của chúng tôi là mang đến sự hài lòng và trải nghiệm tốt nhất cho khách hàng.</p>
    </div>
</div>
