<div class="product-main">
    <h2>Danh Sach San Pham</h2>
    <div class="product-warrer">
        <div class="secltion">
            <select class="select-pro" (change)="onSortChange($event)">
                <option value="macdinh">Mac Dinh</option>
                <option value="caothap">Gia Tu Cao Den Thap</option>
                <option value="thapcao">Gia Tu Thap Den Cao</option>
            </select>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3" *ngFor="let item of filteredProducts | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index">
                    <div class="col-item">
                        <div class="product-img" 
                            (mouseenter)="setHoverState(i, true)"
                            (mouseleave)="setHoverState(i, false)">
                            <img src="{{item.image}}" alt="">
                            <div class="product-Description" *ngIf="isHovered(i)">
                                {{item.conten}}
                            </div>
                        </div>
                        <div class="product-tex">
                            <a [routerLink]="['/product', item.id]"><p>{{item.title}}</p></a>
                            <p>{{item.price}}vnd</p>
                        </div>
                        <div class="buy">
                            <button class="button-hover" (click)="onBuyClick(item)">Mua</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>
