.home-admin-conten{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 85px;
}
.menu-admin-comm{
    position: fixed;
    width: 20%;
    top: 11.5%;
}

.main-conten-wrapper{
    margin-left: 20%;
    margin-top: 5.5%;
}



/* responsive */

@media only screen and (max-width: 991px) {
    
    .main-conten-wrapper{
       margin-left: 0;
    }
    
  
}

