
        <div class="main-conten">
          <h2>Danh Sach San Pham</h2>
          <div class="list-pro-admin">
            <a href="/Admim/Update"><button class="add">Them San Pham</button></a>
            <table class="list-pro-table">
                <thead>
                    <tr>
                        <th class="th-thead" scope="col">Id</th>
                        <th class="th-thead" scope="col">Ten</th>
                        <th class="th-thead" scope="col">Gia</th>
                        <th class="th-thead" scope="col">Loai San Pham</th>
                        
                        <th class="th-thead"  scope="col">Sua</th>
                        <th class="th-thead" scope="col">Xoa</th>
                    </tr>
                </thead>
                <tbody *ngIf="users.length">
                    <tr *ngFor="let item of users | paginate:{ itemsPerPage: itemPage, currentPage: page }">
                        <td scope="row">{{item.id}}</td>
                        <td scope="row">{{item.title}}</td>
                        <td scope="row">{{item.price}}</td>
                        <td scope="row">{{item.catelogy}}</td>
                        
                        <td scope="row"><button class="update" (click)="edit(item.id)">Sua San Pham</button></td>
                        <td scope="row"><button class="delete" (click)="delete(item.id)">Xoa</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination-container">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
              </div>
          </div>
        </div>
        
